/* src/app/(payload)/admin.css */

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

/* 1. Tailwind ko batayein ke files kahan hain */
@source "../components/admin"; 

/* 2. Payload ke Dark Mode ko Tailwind ke sath Sync karein */
@custom-variant dark (&:where([data-theme="dark"],[data-theme="dark"] *));

/* 3. Borders ko wapas zinda karein (Sirf custom components ke liye) */
@layer utilities {
  .tw-admin-wrapper *, .tw-admin-wrapper ::before, .tw-admin-wrapper ::after {
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb; /* Default gray-200 */
  }
}

